<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Welcome To Golf Tracker</h1>
    <br><br><br><br>
    <form method="post" action"/login">
        <h3><a href="/signup">Signup</a></h3>
        <br><br>
        <h3><a href="/login">Login</a></h3>
    </form>
</body>
</html>

