<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<body>
    <div class="home-header">
        <h1> Welcome to Golf Tracker </h1>
    </div>
        <h2> Look at golf courses</h2>
        <h4> keep track of your handicap</h4>
        <br><br><br><br>
        <h5> if you have an account please <a href="/login">login</a></h5>
        <br><br><br>
        <h5> if you dont have an account click <a href="/signup">here</a> to sign up</h5>
    
        

    <img src="/images/golf-course-main.jpg" alt="golfcourseimage"/>
        
       

        

</body>

</html>