<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1> Welcome to Golf Tracker </h1>
    <h2> keep track of your handicap</h2>
    <br><br><br><br>

    <a href="/login">login</a>
        

    <img src="https://www.istockphoto.com/photo/a-golf-player-teeing-off-on-a-sunny-day-gm177405751-21440332"/>
        
        # <p>: <%=  %></p>
        # <p>: <%=  %></p>
        # <p>: <%=  %></p>

        

</body>

</html>